
<div id="notificationContainer" class="row">  
  
   <div class="col-md-9 col-sm-9 noPaddingBootstrap">

      <div class="row">
         <h4>
            <span class="glyphicon glyphicon-globe"></span>
            Links added on your bookmarks
         </h4>
      </div>
      <br>
      <div class="row">
         
         <div class="panel panel-default" ng-repeat="bookmark in bookmarksNewLinks">

            <div class="panel-heading">
               <span class="glyphicon glyphicon-bookmark"></span>
               <a ng-href="#!/detail/?id={{ bookmark.id }}" target="_blank">
                  <b>{{ bookmark.title }}</b>
               </a> 
               <span class="badge">{{ bookmark.links.length }}</span>
            </div>

            <div class="panel-body">

               <div class="itemLinkOnBookmark row" ng-repeat="link in bookmark.links">
                  <div class="col-sm-12 noPaddingBootstrap">
                     <div class="titleLink row">
                        <a  ng-href="{{ link.link }}" target="_blank">
                           {{ link.title }}
                        </a>
                     </div>

                     <div class="linkItself row">
                        <img ng-src="http://g.etfv.co/{{ link.link }}" width="16" height="16" />
                        {{ link.link }}
                     </div>
                     <div class="row" style="margin-bottom:5px;">
                        <div class="col-sm-6 noPaddingBootstrap">
                            <small>
                                <em>
                                  By {{ link.name }}
                                  <span>{{ link.created }}</span>
                                </em>
                            </small>
                        </div>
                        
                     </div>
                  </div> 
               </div> 

            </div>
         </div>

      </div>

      <div class="alert alert-info" ng-show="noResult">
        You don't have notifications. (^_^;)
      </div>
   </div>

   <div class="col-md-3 col-sm-3 hidden-xs noPaddingBootstrap">
      <div class="row text-center">
         <h4>Recent tags</h4>
      </div>
      <div id="tagsContainer" class="row">
         <ul class="list-unstyled">
            <li ng-repeat="tag in recentTags">
               <span class="bookmarkTag label label-info">
                  {{tag.name}}
               </span>
            </li>
         </ul>
      </div>
      <div class="row">
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <!-- unitedBookmark -->
         <ins class="adsbygoogle"
              style="display:inline-block;width:300px;height:250px"
              data-ad-client="ca-pub-5067790193708510"
              data-ad-slot="3700204435"></ins>
         <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
         </script>
      </div>
   </div>
</div>